.List{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.active{
    font-weight: bold;
}

li{
    margin:1px;
}